{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "ignorePatterns": [
    "babel-preset/**",
    "extensions/**",
    "jsx-runtime/**"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-unused-vars": "off",
    "no-undef": "off",
    "no-redeclare": "off",
    "no-else-return": "error",
    "no-trailing-spaces": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxBOF": 0,
        "maxEOF": 0
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error"
    ],
    "@typescript-eslint/no-redeclare": [
      "error"
    ],
    "linebreak-style": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ]
  }
}
