.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  word-break: break-all;
  background-color: #eaf8ff;
  border: 1px solid #b6c1cd;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
